.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8a2be2; /* Morado */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  /* Estilos para los botones */
  .button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Estilos para el contenedor externo que centra el formulario */
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para textos con color blanco */
  .white-text {
    color: rgb(24, 110, 239);
  }